/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/storage/*
!/storage/.keep

/node_modules
/yarn-error.log
/package-lock.json

/public/assets
.byebug_history

/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/.sass-cache
/app/assets/stylesheets/.sass-cache